
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
}
.main-header {
  padding: 0 40px;
  height: var(--header-height);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  z-index: 10;
}
.header .logo {
  font-size: 1.5rem;
}
.hamburger i {
  font-size: 1.5rem;
  background-color: var(--primary-color);
  padding: 3px 5px;
  color: var(--main-bg-color);
}
.hamburger:hover i {
  background-color: white;
  color: #4d4d4d;
  border: 2px solid var(--primary-color);
}

.nav {
  font-family: 'Inter';
  position: absolute;
  top: -400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--hero-bg-color);
  width: 100%;
  transition: 0.5s ease all;
}
.nav.active {
  top: var(--header-height);
}
.nav .nav-item {
  padding: 10px;
  font-family: 'Inter';
}
.nav .nav-item a:hover {
  color: black;
}
.register-btn {
  font-family: 'Inter';
  padding: 10px 20px;
  width: max-content;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--main-bg-color);
  font-family: "Roboto Mono", monospace;
  transition: 0.5s ease box-shadow;
}
.register-btn:hover {
  box-shadow: 0px 0px 20px var(--primary-color);
}
@media only screen and (min-width: 790px) {
  .hamburger {
    display: none;
  }
  .header {
    flex-direction: row;
    align-items: center;
    padding: 0px 20px;
    max-width: 1300px;
    margin: 0 auto;
  }
  .main-header {
    padding: 0;
  }
  .nav {
    position: initial;
    z-index: initial;
    flex-direction: row;
    background-color: inherit;
  }
}
.ri-arrow-right-long-line{
  font-family: 'Inter';
}